<h1>Bem Vindo!</h1>
<p>Com o objetivo de melhorar o armazenamento e uso dos dados, o iFitness ajuda no controle da alimentação de uma pessoa, visando seu objetivo de perda ou ganho de peso, de forma a auxiliar em uma alimentação saudável.
